@font-face {
    font-family: 'curryssans-regular';
    src: url('/fonts/CurrysSans-Regular.otf');
}

@font-face {
    font-family: 'curryssans-headline';
    src: url('/fonts/CurrysSans-Headline.otf');
}

@font-face {
    font-family: 'curryssans-headlineoblique';
    src: url('/fonts/CurrysSans-HeadlineOblique.otf');
}

:root {
    --primary : #4C12A1;
    --secondary : #E5006D;
    --brightPink : #F9D2E5;
    --brightYellow : #FFECB7;
    --brightGreen : #CAE7E6;
    --brightPurple : #CFC8F7;
    --neutralWhite : #FFFFFF;
    --neutralLightGrey : #F2F3F4;
    --neutralMidGrey : #CDD8DF;
    --neutralDarkGrey : #56707A;
    --neutralBlack : #213038;
}

* {
    font-family: 'curryssans-regular';
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 80px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;

    background-color: var(--neutralMidGrey);
}

.nav-bar img{
    object-fit: contain;
    height: 80px;
    width: auto;
}

.nav-bar h1{
    font-family: 'curryssans-headline';
}

.main-container {
    width: 100vw;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.sort-by {
    width: 80vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sort-by-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px
}

.category-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
}

.category-button {
    padding: 3px;

    width: auto;
    height: auto;
    cursor: pointer;

    border-radius: 12px;
}

.category-button:hover {
    transition: 1s;
    box-shadow: 5px 10px var(--secondary);
}

.category-button img {
    object-fit: contain;
    height: 100px;
    width: 100px;
}

.output {
    border-collapse: collapse;
    width: 80%;
}

.output td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.output tr:nth-child(even) {
    background-color: #dddddd;
}

.product-listing {
    width: 100%;

    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
